body{
    display:grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(160, 155, 165);
    text-transform: uppercase;
    font-weight: 500;
   
}
.box{
    
    border-radius: 10px;
   padding: 15px;
   background: rgba(233, 178, 129, 0.5);
   box-shadow: 5px 5px 30px;

}
input{
    height: 25px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: rgb(242, 232, 219);
    padding-left: 10px;
}
button{
    width: 100px;
    height:30px;
    background: greenyellow;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 8px 15px;
}